*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
}

.body{
    background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(#79c7c4a0, #ade1e5c0);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    /* Creating 18 rows and Columns */
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background-color: #241E4E;
}

.snake {
    background-color: #BAABBD;
}

.food{
    background-color: #8D7471;
    
}